.resume-heading {
  text-align: center;
}

.section-heading {
  text-transform: uppercase;
  text-decoration: underline;
}

.accomplishment-title {
 font-weight: bold; 
}

.dates {
  font-style: oblique; 
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}

.main-skills {
  font-style: italic;
}